body {


    background-color: #e45e5e;


    font-family: Candara, Helvetica, sans-serif;


    margin: 0;
}


#header {


    width: 100%;


    height: 137px;


    padding-top: 10px;
}


#logo {

    width: 350px;


    height: 100px;


    position: relative;


    left: 50%;


    margin-left: -170px;
}


#logoImg {


    float: left;
}

#tituloLogo {


    float: left;


    color: #f86969;


    line-height: 100px;


    margin: 0;


    font-size: 50px;
}


#menu {


    width: 100%;

    background-color: #551515;
}

.listaMenu {
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
}


.listaMenu li {


    display: inline-block;
}


.listaMenu li a {
    text-decoration: none;
    height: 50px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


.listaMenu li a:link,
.listaMenu li a:visited {

    color: white;
}


.listaMenu li a:hover {
    color: #4b4b4b;
    background-color: white;
}


#menuAtual:link,
#menuAtual:visited {
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 700px) {
    #menu{
        width: 700px;
    }
}


#content {
    width: 700px;
    background-color: rgb(129, 21, 21);
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


#contentCar {
    width: 100%;
    background-color: rgb(129, 21, 21);
}

#promotionBanner {

    height: 200px;

    background-image: url('images/promocao.jpg');
}

#promocaoH1 {

    color: white;

    font-size: 64px;

    margin: 0;

    margin-left: 20px;

    position: absolute;

    text-shadow: 2px 2px 4px #cec4c4;
}

#promocaoValor {

    color: rgb(255, 255, 255);

    font-size: 48px;

    margin: 0;

    position: relative;

    text-shadow: 2px 2px 4px #4b4b4b;

    left: 180px;
    top: 130px;

    width: 500px;
}


#tituloConteudo {
    color: #ffffff;

    text-align: center;

    margin-bottom: 10px;
}

#areaProdutos table {

    border-spacing: 25px;

    border-collapse: separate;

    text-align: center;
}


#areaCarrinho table {
    margin-left: 13%;
    border: solid 1px white;
    margin-bottom: 20px;
}

.tdLanches td{
    height:70px;
}

#areaCarrinho td {
    width: 250px;
    text-align: center;
    color: #ffffff;

    font-size: 20px;
}

#areaProdutos td {

    width: 280px;

    color: #ffffff;

    font-size: 20px;
}

#areaProdutos td img {

    width: 150px;
    height: 150px;

    margin-top: 5px;

    border-radius: 50%;

    border: 2px solid #4b4b4b;
}

.tituloProduto {

    font-weight: bold;

    margin: 0;
}

.precoProduto {

    margin: 0;
}

#entrega {

    position: fixed;

    bottom: 30px;

    right: 10px;

    height: 100px;
    width: 300px;
}

#entrega img {

    border-radius: 50%;

    border: 3px solid #4b4b4b;
}

#tel {

    position: absolute;

    left: 120px;

    height: 75px;

    background-color: #4b4b4b;

    color: white;

    margin-top: 13px;

    padding: 10px;

    padding-bottom: 0;

    border-radius: 15px;
}

#tel h4 {

    margin: 0;

    font-size: 28px;
}

#tel h5 {

    margin: 0;

    margin-top: 10px;
}

#tel a {

    color: white;

    text-decoration: none;
}

.input_menu {
    cursor: default;
    width: 30px;
    text-align: center;
    background-color: #d52e2e;
    border: 1px;
    border-radius: 15px
}

.button_menu {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: #ff4242;
    border: 1px;
    border-radius: 15px;
    margin-bottom: 5px;
    transition: 0.5s;
    font-size: 20px;
    padding: 6px;
}

.button_menu:hover {
    background-color: #a03737;
    cursor: pointer;
    color: white;
    letter-spacing: 6px;
}

.div_btn {
    text-align: center;
}

.btn_icone {
    height: auto;
    border-radius: 10px;
    border: 1px;
    margin: 3px;
}

.btn_icone:hover {
    cursor: pointer;
    color: rgb(109, 107, 107);
}

.material-icons {
    font-size: 15px !important;
    transform: translateY(2px);
}

.cada_produto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloCompra {
    margin-left: 10px;
}

.nomeTitulo {
    color: white;
    text-align: center;
}

.carrinho-erro {
    color: white;
    margin-left: 10px;
    text-align: center;
    font-size: 35px;
}

.carrinho-erro a {
    transition: 0.5s;
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.carrinho-erro a:hover {
    letter-spacing: 1px;
    color: red;
}